body {
    margin-top: 20px;
}

h1 {
    font-weight: bold;
}

.link-to-page {
    float: right;
    margin: 0 2px 0 2px;
}
.danger {
    color: red;
    font-weight: bold;
}
.success {
    color: green;
    font-weight: bold;
}